form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: #0C2D48;
    margin-bottom: 95px;
  }
  
  label {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    width: 400px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .tall{
    height: 95px;
  }
  #footer {
    background: #caf0fe;
  
  };
  #footer p {
    color: #0C2D48;
  
  }